body {
  background-color: palevioletred;
;
}
p {
  color: pink;
    text-align: center;
}
h2 {
  font-weight: bold;
    color: plum;
    text-align: center;
}

img {
    border-color: purple;
    border-style: double;
}

.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}