body {
  background-color: seagreen;
;
}
p {
  color: greenyellow;
    text-align: center;
}
h2 {
  font-weight: bold;
    color: greenyellow;
    text-align: center;
}

img {
    border-color: yellow;
    border-style: double;
}

li {
  color: green;
}
.center {
    display:block;
    margin-left: auto;
    margin-right: auto;
}
